* {
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#canvas {
    display: block;
    width: 300px;
    height: 150px;
    border: 1px solid black;    
}
.wrapper {
    display: flex;
    flex-direction: column;
}

.color__collection {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.color {
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    border: 1px solid silver;
}

.color:first-child {
    margin-left: 0;          
}

.buttons {
    margin-bottom: 10px;
}

.tools {
    margin-top: 10px;
}

button, .brush {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    background-color: azure;
    background-color: #fff;
    border: none;
    box-shadow: 1px 1px 1px 1.5px rgba(0, 0, 0, 0.2);
}

button + button {
    margin-left: 10px;
}